body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #cccccc;
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}

.navbar-brand {
    margin-right: 14px;
    margin-left: 260px;
}

.navbar-nav {
    margin-left: 10px;
    margin-right: auto;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin-left: -580px;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    margin-right: 20px;
}

/* Footer */
.footer {
    background-color: #5940cb;
    color: #ffffff;
    padding: 48px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1000;
}

.footer-container {
    max-width: 594px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-info h3 {
    margin: 0;
    font-size: 20px;
    position: absolute;
    right: 860px;
    top: 20px;
}

.brand-info p {
    margin-top: 5px;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 750px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 280px;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav ul li:last-child {
    margin-right: 0;
}

.footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.social-media {
    margin-right: auto;
    position: absolute;
    top: 29px;
    right: 23px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.footer-description {
    margin-top: 20px;
    font-size: 14px;
}

.footer-social-media {
    margin-bottom: -10px; /* Jarak antara teks Social Media dan ikon */
    position: relative;
    top: -19px;
    right: -5px;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .brand-info,
    .footer-links,
    .social-media {
        flex-basis: 100%; /* Set width to 100% on small screens */
        text-align: center;
    }
    .footer {
        background-color: #5940cb;
        color: #ffffff;
        padding: 48px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0%;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1000;
    }

    .social-media {
        margin-right: auto;
        position: absolute;
        top: 29px;
        right: 23px;
    }

    .social-media a {
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        margin-left: 10px;
    }
    .footer-nav ul {
        list-style-type: none;
        padding: 0px;
        margin: 0;
        position: absolute;
        top: 30px;
        right: 86px;
    }
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 4px;
    top: 170px;
}

.text-center {
    text-align: center !important;
}

.font-weight-bold {
    font-weight: bold;
}

.verification-code {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.verification-code input[type="text"] {
    width: 52px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
    border-radius: 12px;
}

.btn-resend {
    background-color: #5940cb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-resend:hover {
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}
