body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #cccccc;
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    margin-left: 60px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin-left: -580px;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    margin-right: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #ffffff;
    color: #0e0d13;
    border: 2px solid #5940cb;
}

.btn-outline-primary {
    background-color: #5940cb;
    color: #ffffff;
    border: 2px solid #5940cb8a;
    margin-left: 10px;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #5940cb8a;
}

/* Footer */
.footer {
    background-color: #5940cb;
    color: #ffffff;
    padding: 48px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1000;
    top: 600px;
}

.footer-container {
    max-width: 594px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-info h3 {
    margin: 0;
    font-size: 20px;
    position: absolute;
    right: 860px;
    top: 20px;
}

.brand-info p {
    margin-top: 5px;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 750px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 280px;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav ul li:last-child {
    margin-right: 0;
}

.footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.social-media {
    margin-right: auto;
    position: absolute;
    top: 29px;
    right: 23px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.footer-description {
    margin-top: 20px;
    font-size: 14px;
}

.footer-social-media {
    margin-bottom: -10px; /* Jarak antara teks Social Media dan ikon */
    position: relative;
    top: -19px;
    right: -5px;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .brand-info,
    .footer-links,
    .social-media {
        flex-basis: 100%; /* Set width to 100% on small screens */
        text-align: center;
    }
    .footer {
        background-color: #5940cb;
        color: #ffffff;
        padding: 48px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0%;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1000;
    }

    .social-media {
        margin-right: auto;
        position: absolute;
        top: 29px;
        right: 23px;
    }

    .social-media a {
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        margin-left: 10px;
    }
    .footer-nav ul {
        list-style-type: none;
        padding: 0px;
        margin: 0;
        position: absolute;
        top: 30px;
        right: 86px;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: space-between; /* Atur agar konten navbar berada di antara bagian kiri dan kanan */
    align-items: center; /* Untuk mengatur vertikalnya ke tengah */
}

/* Atur posisi menu navbar */
.navbar-nav {
    margin-left: 675px; /* Menggeser menu ke kanan */
}

/* Atur posisi logo/navbar-brand */
.navbar-brand {
    margin-right: auto; /* Menggeser logo ke kiri */
}

.login-container {
    position: relative; /* Diperlukan untuk mengatur posisi elemen di dalamnya */
    height: 50vh;
}

.login-form {
    position: absolute;
    top: 99%;
    left: 26%;
    transform: translate(-52%, -50%);
    width: 562px;
    padding: 92px;
    border: 1px solid #ccc;
    border-radius: 72px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(177deg, #ffffff, #a191e7cc);
}

/* Untuk mengatur posisi elemen-elemen di dalam input-group */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.input-group input {
    width: 100%;
    padding: 10px 35px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #5940cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #4834a8;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #5940cb;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.image-container {
    position: relative;
    width: 100%; /* Lebar 100% untuk mengisi lebar layar */
    height: 300px; /* Sesuaikan tinggi dengan kebutuhan Anda */
}

.image-container img {
    position: absolute;
    top: 12px;
    left: 710px;
    width: 46%;
    height: 228%;
    object-fit: cover;
}
