body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #cccccc;
    background: linear-gradient(270deg, #ffffff, #a191e7cc);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    margin-left: 60px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin-left: -580px;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    margin-right: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #ffffff;
    color: #0e0d13;
    border: 2px solid #5940cb;
}

.btn-outline-primary {
    background-color: #5940cb;
    color: #ffffff;
    border: 2px solid #5940cb8a;
    margin-left: 10px;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #5940cb8a;
}

/* Footer */
.footer {
    background-color: #5940cb;
    color: #ffffff;
    padding: 48px 0;
    text-align: center;
    position: absolute;
    bottom: -900px;
    width: 80%;
    left: 10%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1000;
}

.footer-container {
    max-width: 594px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-info h3 {
    margin: 0;
    font-size: 20px;
    position: absolute;
    right: 860px;
    top: 20px;
}

.brand-info p {
    margin-top: 5px;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 750px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 280px;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav ul li:last-child {
    margin-right: 0;
}

.footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.social-media {
    margin-right: auto;
    position: absolute;
    top: 29px;
    right: 23px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.footer-description {
    margin-top: 20px;
    font-size: 14px;
}

.footer-social-media {
    margin-bottom: -10px; /* Jarak antara teks Social Media dan ikon */
    position: relative;
    top: -19px;
    right: -5px;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .brand-info,
    .footer-links,
    .social-media {
        flex-basis: 100%; /* Set width to 100% on small screens */
        text-align: center;
    }
    .footer {
        background-color: #5940cb;
        color: #ffffff;
        padding: 48px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0%;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1000;
    }

    .social-media {
        margin-right: auto;
        position: absolute;
        top: 29px;
        right: 23px;
    }

    .social-media a {
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        margin-left: 10px;
    }
    .footer-nav ul {
        list-style-type: none;
        padding: 0px;
        margin: 0;
        position: absolute;
        top: 30px;
        right: 86px;
    }
}

.notification-section {
    padding: 19px 0;
    border-bottom: 3px solid #26282b3b;
    position: relative;
    top: 111px;
    right: -170px;
    width: 100%;
    max-width: 893px;
    background: linear-gradient(271deg, #ffffff, #6b50dfcc);
    border-radius: 30px;
}

.notification-section p {
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make the text bold */
    position: absolute; /* Position the text absolutely */
    top: -11px;
    right: -61px;
}

.notification-section i {
    font-size: 20px; /* Adjust icon size as needed */
    color: #6c757d; /* Adjust icon color as needed */
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    position: absolute; /* Position the icon absolutely */
    top: -11px;
    right: -807px;
}

.notification-section i:hover {
    color: #007bff; /* Change icon color on hover */
}

.dropdown-content {
    display: none; /* Initially hide the dropdown content */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

@media only screen and (max-width: 768px) {
    .notification-section {
        background-color: #f8f9fa;
        padding: 13px 0;
        border-bottom: 3px solid #e9ecef;
        position: relative;
        top: 81px;
        right: -60px;
        width: 100%;
        max-width: 255px;
        border-radius: 30px;
    }

    .notification-section p {
        margin: 0; /* Remove default margin */
        font-weight: bold; /* Make the text bold */
        position: absolute; /* Position the text absolutely */
        top: -11px;
        right: -61px;
    }

    .notification-section i {
        font-size: 20px;
        color: #6c757d;
        cursor: pointer;
        position: absolute;
        top: -11px;
        right: -177px;
    }

    .notification-section i:hover {
        color: #007bff; /* Change icon color on hover */
    }

    .dropdown-content {
        display: none; /* Initially hide the dropdown content */
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }
}

.notification-section #notificationText .fa-bell {
    margin-right: 783px;
    margin-top: 13px;
}

.notification-section #notificationText .fa-bell {
    font-size: 20px; /* Ukuran ikon lonceng */
}

.notification-section #notificationText .fa-bell {
    color: #ffcc00; /* Warna ikon lonceng */
}

@media only screen and (max-width: 768px) {
    .notification-section #notificationText .fa-bell {
        margin-right: 154px;
        margin-top: 13px;
    }
    .notification-section #notificationText .fa-bell {
        font-size: 20px; /* Ukuran ikon lonceng */
    }

    .notification-section #notificationText .fa-bell {
        color: #ffcc00; /* Warna ikon lonceng */
    }
}

.process-circle {
    width: 225px;
    height: 119px;
    border-radius: 39px;
    background-color: #5940cb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
    top: 162px;
    left: -97px;
}

.process-circle.absensi::before {
    background-color: #5940cb; /* Warna untuk Absensi */
}

.process-circle.assignment::before {
    background-color: #5940cb; /* Warna untuk Assignment */
}

.process-circle.progress::before {
    background-color: #5940cb; /* Warna untuk Progress */
}

.process-circle::before {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
}

.process-text {
    z-index: 1;
    color: #fff; /* Warna teks */
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 30px;
}

.progress-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3); /* Warna border */
    border-top-color: #fff; /* Warna lingkaran */
    animation: spin 2s linear infinite; /* Animasi putar */
    top: 39px;
    left: 135px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Memberikan jarak antara setiap kotak */
.col-4 {
    padding: 0 61px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #050505;
    margin-bottom: -53px;
}

@media only screen and (max-width: 768px) {
    .process-circle {
        width: 100px;
        height: 79px;
        border-radius: 39px;
        background-color: #5940cb;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 82px;
        top: 79px;
        left: -50px;
    }

    .process-circle.absensi::before {
        background-color: #5940cb; /* Warna untuk Absensi */
    }

    .process-circle.assignment::before {
        background-color: #5940cb; /* Warna untuk Assignment */
    }

    .process-circle.progress::before {
        background-color: #5940cb; /* Warna untuk Progress */
    }

    .process-circle::before {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .process-text {
        z-index: 1;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        top: 9px;
        left: 19px;
    }

    .progress-circle {
        position: absolute;
        width: 27px;
        height: 28px;
        border-radius: 52%;
        border: 5px solid rgba(255, 255, 255, 0.3);
        border-top-color: #fff;
        animation: spin 2s linear infinite;
        top: 36px;
        left: 64px;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    /* Memberikan jarak antara setiap kotak */
    .col-4 {
        padding: 0 15px;
        margin-right: -57px;
        margin-left: -92px;
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 44px;
    }
}
.progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5940cb;
    position: absolute;
    top: 28%;
    left: 70%;
    margin: 0 auto;
}

.progress-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Warna teks persentase */
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .progress-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #5940cb;
        position: absolute;
        top: 53%;
        left: 69%;
        margin: 0 auto;
    }

    .progress-percent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; /* Warna teks persentase */
        font-size: 12px;
    }
}

.dashboard-image {
    width: 89px;
    height: auto;
    position: relative;
    top: -19px;
    right: 392px;
}

.dashboard-image2 {
    width: 77px;
    height: auto;
    position: relative;
    top: -106px;
    right: 53px;
}

.dashboard-image3 {
    width: 80px;
    height: auto;
    position: relative;
    top: -201px;
    right: -288px;
}
@media only screen and (max-width: 768px) {
    .dashboard-image {
        width: 47px;
        height: auto;
        position: relative;
        top: -78px;
        right: 135px;
    }

    .dashboard-image2 {
        width: 41px;
        height: auto;
        position: relative;
        top: -124px;
        right: 12px;
    }

    .dashboard-image3 {
        width: 45px;
        height: auto;
        position: relative;
        top: -187px;
        right: -105px;
    }
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 120%;
    height: 200px;
    position: inherit;
    top: -161px;
    right: 30px;
    border-radius: 0;
}

.image-text {
    position: absolute;
    bottom: 275px;
    left: 30%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 21px;
    color: #fff;
    font-weight: bold;
}

.image-container {
    position: relative;
    display: inline-block;
}

.loading-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.loader {
    position: relative;
    top: -77px;
    right: -209px;
    width: 61%;
    height: 9px;
    background-color: #ffffff;
    border-radius: 37px;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%; /* Bagian yang selesai (putih) setelah 50% */
    background-color: #fff; /* Warna putih untuk bagian yang sudah selesai */
    border-radius: 37px;
}

.loader::after {
    content: "";
    position: absolute;
    top: 0;
    right: 328px;
    height: 100%;
    width: 32%;
    background-color: #3498db;
    animation: loading 2s linear infinite;
}

.percentage {
    position: absolute;
    top: 4%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: #ffffff;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.third-image {
    position: absolute;
    top: 476px;
    right: 1040px;
    width: 136px;
    height: auto;
    border-radius: 77px;
    z-index: 1;
    box-shadow: 0 0 0 5px rgb(255 255 255);
}

.containerr {
    margin-top: 40px;
    text-align: center;
}

.calendar {
    width: 421px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 715px;
    right: 17px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calendar-header {
    background-color: #5940cb;
    color: #ffffff;
    padding: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
}

.calendar-day {
    text-align: center;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-day:nth-child(7n) {
    color: red; /* Hari Minggu berwarna merah */
}

.calendar-day:hover {
    background-color: #f0f0f0;
}

.calendar-footer {
    padding: 10px;
    text-align: center;
}

.dot {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #312a2a; /* Warna titik merah */
    border-radius: 50%;
    margin: 4px auto 0; /* Jarak antara tanggal dan titik */
}

/* Gaya untuk tabel Hari Raya */
.table-hari-raya {
    border-collapse: collapse;
    width: 33%;
    margin-left: 830px;
    margin-right: auto;
    margin-top: 335px;
    margin-bottom: 22px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table-hari-raya th,
.table-hari-raya td {
    border: 2px solid #5940cb; /* Warna border untuk setiap sel */
    padding: 8px;
    text-align: center;
}

.table-hari-raya th {
    background-color: #5940cb; /* Warna latar belakang header */
    color: white; /* Warna teks header */
}

/* Gaya untuk tabel Catatan */
.table-catatan {
    border-collapse: collapse;
    width: 33%;
    margin-left: 830px;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 122px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table-catatan th,
.table-catatan td {
    border: 2px solid #5940cb; /* Warna border untuk setiap sel */
    padding: 8px;
    text-align: center;
}

.table-catatan th {
    background-color: #5940cb; /* Warna latar belakang header */
    color: white; /* Warna teks header */
}
/* Gaya untuk kontainer tabel */
.table-container {
    position: absolute;
    top: 671px;
    right: 543px;
}

/* Gaya untuk tabel kotak */
.box-table {
    width: 689px;
    height: 109px;
    background-color: #5940cb;
    color: #ffffff;
    border-radius: 16px;
    margin-bottom: 124px;
}

/* Gaya untuk teks atas */
.box-table .top-text {
    position: relative;
    top: 18px;
    right: -162px;
}

/* Gaya untuk teks bawah */
.box-table .bottom-text {
    position: relative;
    top: -10px;
    right: -161px;
}

/* Gaya untuk judul tabel */
.table-title {
    text-align: left;
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}

/* CSS untuk gaya placeholder */
[data-placeholder]::before {
    content: attr(data-placeholder);
    color: #999; /* warna placeholder */
    font-style: italic;
}
